<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="title" value="商用车黑匣子产测软件"/>
    <add key="portNo" value="3"/>
    <add key="InitValueBroad" value="2000"/>
    <add key="BroadDesc" value="名称 描述 状态 结果 标准 开始时间 花费时间"/>
  </appSettings>
</configuration>